.creator-login{
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    border: none;
    background: #FFF;
    overflow: hidden;
    outline: none;
    // padding: 15px;
    width: 50%;
    max-width: 655px;
    height: auto;
    max-height: 425px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .container-fluid{
        padding: 0px;
        .bg-area{
            padding: 0px;
        }
        
    }
}